<div class="workarea">
    <div class="container">
      <div class="contact">
            <h2>Contact Us</h2>
            <p>The number of old age people are increasing day by day in India.If we want to suggest a home to anyone in nearby locations,then we can use this application.The number of eldercare homes has been increasing in the India. We provide a platform between users and organization. We will maintain a database that contains all eldercare home details. Users can register and search for nearby eldercare homes and join them.The number of old age people are increasing day by day in India.<p/><p>If we want to suggest a home to anyone in nearby locations,then we can use this application.The number of eldercare homes has been increasing in the India. We provide a platform between users and organization. We will maintain a database that contains all eldercare home details. Users can register and search for nearby eldercare homes and join them.</p>
      </div>
     </div>
</div>