<div class="workarea" ng-controller="RegistrationController"> 
    <div class="container">
        <div class="registration">
            <h2 ng-show="user">Register As Normal User</h2>
            <h2 ng-show="organization">Register As Old age organisation</h2>
           <!--  <div class="category">
                <p> <input type="radio" name="gender" ng-model="regUser" value="1"><span>User</span></p>
                <p><input type="radio" name="gender" ng-model="regUser" value="2"> <span>Old age organisation</span></p>
            </div> -->
            
            <div class="form">
                <div ng-show="user">
                    <div>
                        <p>Candidate details</p>
                        <div class="form-group"><label>Name:</label><input type="text" placeholder="name"></div>
                        <div class="form-group"><label>Age:</label><input type="text" placeholder="age"></div>
                        <div class="form-group"><label>Address:</label><input type="text" placeholder="age"></div>
                        <div class="form-group"><label>mobile number:</label><input type="text" placeholder="mobile number"></div>
                        <div class="form-group"><label>id card type:</label>
                            <select name="cars">
                                <option value="votercard">Voter Card</option>
                                <option value="aadhaarcard">Aadhaar Card</option>
                                <option value="rationcard">Ration Card</option>
                                <option value="pancard">PAN Card</option>
                                <option value="passport">Passport</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>id card number:</label>
                            <input type="text" placeholder="id card">
                        </div>
                        <div class="form-group">
                            <label>gender:</label>
                            <select name="cars">
                            <option value="male">male</option>
                            <option value="female">female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Zipcode:</label>
                            <input type="text" placeholder="Postal Code">
                        </div>
                    </div>

                    <div>
                        <p>Referal details</p>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" placeholder="name">
                        </div>
                        <div class="form-group">
                            <label>Age:</label>
                            <input type="text" placeholder="age">
                        </div>
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" placeholder="age">
                        </div>
                        <div class="form-group">
                            <label>mobile number:</label>
                            <input type="text" placeholder="mobile number">
                        </div>
                        <div class="form-group">
                            <label>id card type:</label>
                            <select name="cars">
                                <option value="votercard">Voter Card</option>
                                <option value="aadhaarcard">Aadhaar Card</option>
                                <option value="rationcard">Ration Card</option>
                                <option value="pancard">PAN Card</option>
                                <option value="passport">Passport</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>id card number:</label>
                            <input type="text" placeholder="id card">
                        </div>
                        <div class="form-group">
                            <label>gender:</label>
                            <select name="cars">
                            <option value="male">male</option>
                            <option value="female">female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Zipcode:</label>
                            <input type="text" placeholder="id card">
                        </div>
                    </div>
                    <input type="submit" value="Submit">
                </div>
                
                <div ng-show="organization">
                    <form name="accountForm" class="container-fluid" novalidate>
                    <div class="error" ng-show="show"><span>{{error_msg}}</span></div>
                    <p>Organisation details</p>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" ng-model="org.name" placeholder="name" name="name" maxlength="150" required/>
                    </div>
                    <div class="form-group">
                        <label>location:</label>
                        <input type="text" placeholder="location" ng-model="org.location" name="location" maxlength="150" required/>
                    </div>
                    <div class="form-group">
                        <label>Capacity:</label>
                        <input type="text" placeholder="Capacity" ng-model="org.capacity" name="capacity" maxlength="4" required></div>
                    <div class="form-group">
                        <label>mobile number:</label>
                        <input type="text" placeholder="mobile number" ng-model="org.mobile" name="mobile" minlength="10" maxlength="10" required> 
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" placeholder="Address" ng-model="org.address" name="address" maxlength="150" required>
                    </div>
                    <input type="submit" value="Submit" ng-click="validate_organization()">
                </div>
            </div>
        </div>
    </div>
</div>