<div class="workarea"> 
    <div class="container">
        <div class="registration">
            <h2 ng-show="user">Register as User</h2>
            <h2 ng-show="organization">Register As Old Age Organisation</h2>
           <!--  <div class="category">
                <p> <input type="radio" name="gender" ng-model="regUser" value="1"><span>User</span></p>
                <p><input type="radio" name="gender" ng-model="regUser" value="2"> <span>Old age organisation</span></p>
            </div> -->
            <div class="form">
                <div ng-show="user">
                    <form name="userForm" class="container-fluid" novalidate>
                    <div class="error" ng-show="show_user"><span>{{error_msg_user}}</span></div>
                    <div>
                        <p>Candidate details</p>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" placeholder="name" ng-model="accountData.candName" name="name" maxlength="150" required/></div>
                        <div class="form-group">
                            <label>Age:</label>
                            <input type="text" placeholder="age" ng-model="accountData.candAge" name="age" maxlength="3" required/>
                        </div>
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" placeholder="Address" ng-model="accountData.candStreet" name="address" maxlength="300" required></div>
                        <div class="form-group">
                            <label>mobile number:</label>
                            <input type="text" placeholder="mobile number" ng-model="accountData.candMobileNumber" name="mobile" minlength="10" maxlength="10" required>
                        </div>
                        <div class="form-group"><label>id card type:</label>
                            <select ng-model="accountData.candIdType" name="card" required>
                                <option value="">Select Id Card</option>
                                <option value="votercard">Voter Card</option>
                                <option value="aadhaarcard">Aadhaar Card</option>
                                <option value="rationcard">Ration Card</option>
                                <option value="pancard">PAN Card</option>
                                <option value="passport">Passport</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>id card number:</label>
                            <input type="text" placeholder="Id card" ng-model="accountData.candIdNo" name="cardnum" minlength="10" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label>gender:</label>
                            <select ng-model="accountData.candGender" name="gender" required>
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Zipcode:</label>
                            <input type="text" placeholder="Postal Code" ng-model="accountData.candZipcode" name="zipcode" minlength="6" maxlength="6" required>
                        </div>
                    </div>

                    <div>
                        <p>Referal details</p>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" placeholder="name" ng-model="accountData.referralName" name="refname" maxlength="150" required>
                        </div>
                        <div class="form-group">
                            <label>Age:</label>
                            <input type="text" placeholder="age" ng-model="accountData.refage" name="refage" maxlength="3" required>
                        </div>
                        <div class="form-group">
                            <label>Address:</label>
                            <input type="text" placeholder="address" ng-model="accountData.referralStreet" name="refaddrs" maxlength="300" required>
                        </div>
                        <div class="form-group">
                            <label>mobile number:</label>
                            <input type="text" placeholder="mobile number" ng-model="accountData.referralMobNo" name="refmobile" minlength="10" maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <label>id card type:</label>
                            <select ng-model="accountData.referralIdType" name="refidtype" required>
                                <option value="">Select ID Card</option>
                                <option value="votercard">Voter Card</option>
                                <option value="aadhaarcard">Aadhaar Card</option>
                                <option value="rationcard">Ration Card</option>
                                <option value="pancard">PAN Card</option>
                                <option value="passport">Passport</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>id card number:</label>
                            <input type="text" placeholder="Id card number" ng-model="accountData.referralIdNo" name="refidcard" minlength="10" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label>gender:</label>
                            <select ng-model="accountData.refgender" name="refgender" required>
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Zipcode:</label>
                            <input type="text" placeholder="Zipcode" ng-model="accountData.referralZipcode" name="refzipcode" minlength="6" maxlength="6" required>
                        </div>
                    </div>
                    <input type="submit" value="Submit" ng-click="validate_user()">
                    </form>
                </div>
                
                <div ng-show="organization">
                    <form name="accountForm" class="container-fluid" novalidate>
                    <div class="error" ng-show="show"><span>{{error_msg}}</span></div>
                    <p>Organisation details</p>
                    
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" ng-model="org.name" placeholder="name" name="name" maxlength="150" required/>
                    </div>
                    <div class="form-group">
                        <label>location:</label>
                        <input type="text" placeholder="location" ng-model="org.city" name="location" maxlength="150" required/>
                    </div>
                    <div class="form-group">
                        <label>mobile number:</label>
                        <input type="text" placeholder="mobile number" ng-model="org.contactNumber" name="mobile" minlength="10" maxlength="10" required> 
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" placeholder="Address" ng-model="org.street" name="address" maxlength="150" required>
                    </div>
                    <div class="form-group">
                        <label>Zipcode:</label>
                        <input type="text" placeholder="Zipcode" ng-model="org.zipcode" name="zipcode" maxlength="6" minlength="6"required>
                    </div>
                    <input type="submit" value="Submit" ng-click="validate_organization()">
                </div>
            </div>
        </div>
    </div>
</div>