<div class="workarea">
    <div class="container">
        <div class="search">
            <input type="search" placeholder="Search by zip code" ng-model="postalCode" />
            <button type="button" ng-click="searchHomes()">Search</button> 

           
            <ul class="search-list">
               <li ng-repeat="home in homes track by $index ">

                     <p>name:{{home.Name}}</p>
                     <p>location: {{home.City__c}} | {{home.State__c}} | {{home.Zipcode__c}}  </p>
                     <p>Contact No: {{home.Contact_Number__c}}</p>
                     <a href="#/registrationUser/{{home.Id}}"><button class="pull-right">Join</button></a>
               </li>
            </ul>
            <div><h2>{{displayText}}</h2></div>
        </div>
     </div>
</div>