<div class="workarea" ng-controller="SearchController">
    <div class="container">
        <div class="search">
            <input type="search" placeholder="Search By Area"/>
            <button type="button">Search</button> 
            <ul class="search-list">
               <li>
                     <p>name:</p>
                     <p>location</p>
                     <p>Address</p>
                     <a href="#/registrationUser"><button class="pull-right">Join</button></a>
               </li><li>
                     <p>name:</p>
                     <p>location</p>
                     <p>Address</p>
                     <button class="pull-right">Join</button>
               </li><li>
                     <p>name:</p>
                     <p>location</p>
                     <p>Address</p>
                     <button class="pull-right">Join</button>
               </li>
            </ul>
        </div>
     </div>
</div>