$medium-screen: 1200px;
$break-md: 990px;
$break-xs: 767px;
$mobile-only: max-width 480px;
$small-screen: 480px;
$small-screen-only: 481px 750px;
$medium-screen: 750px;
$medium-only: max-width 768px;
$small-devices:769px;
$medium-screen-only: 751px 1023px;
$medium-devices: 768px 1024px;
$medium-devices-only: 992px 1024px;
$large-only:1120px;
$large-screen: 1023px;
$medium-large-devices:751px 1360px;
$large-devices: min-width 1440px;
$desktop-only:1025px;
$medium-mobile-only: 0px 749px;