$white:#fff;
$black:#000;
$base-color:#791f7f;

//Primary Colors
$border-color:#45464a;
$base-border:#791f7f;
$active-border:#cf005a;
$red:#f01e4d;
$gray:#b5b5b7;
$darkest-gray:#3f4044;
$dark-gray:#a2a3a4;
$light-gray:#d7d7d7;
$gray3:#4e4f53;
$gray4:#191919;
$accepted:#61bd6d;
$failed:#6b12b3;
$suspend:#e14938;


//values
$zero:0px;
$size:14px;